@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 207 39% 15%;
    --card: 210 40% 98%;
    --card-foreground: 207 39% 15%;
    --popover: 210 40% 98%;
    --popover-foreground: 207 39% 15%;
    --primary: 45 63% 58%;
    --primary-foreground: 207 39% 10%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 207 39% 15%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 207 44% 29%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 207 44% 29%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 207 39% 10%;
    --foreground: 0 0% 98%;
    --card: 207 39% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 207 39% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 63% 58%;
    --primary-foreground: 207 39% 10%;
    --secondary: 207 39% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 207 39% 17%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 45 63% 58%;
    --accent-foreground: 207 39% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 39% 17%;
    --input: 207 39% 17%;
    --ring: 45 63% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
