@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 215 28% 17%;
    --foreground: 0 0% 98%;
    --card: 215 28% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 215 28% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 48 68% 63%;
    --primary-foreground: 215 28% 11%;
    --secondary: 215 28% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 28% 22%;
    --muted-foreground: 215 28% 67%;
    --accent: 45 93% 47%;
    --accent-foreground: 215 28% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 22%;
    --input: 215 28% 22%;
    --ring: 48 68% 63%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 0 0% 98%;
    --card: 215 28% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 215 28% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 48 68% 63%;
    --primary-foreground: 215 28% 11%;
    --secondary: 215 28% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 28% 22%;
    --muted-foreground: 215 28% 67%;
    --accent: 45 93% 47%;
    --accent-foreground: 215 28% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 22%;
    --input: 215 28% 22%;
    --ring: 48 68% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-color: hsl(var(--background));
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
